html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h3, p,
form, fieldset, label, input, textarea,
button, article, footer, small, figure {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  box-sizing: inherit;
  text-align: inherit;
  background: transparent;
  opacity: inherit;
  text-decoration: none;
}

/* just a clear fix here */
.group:after {
  content: '';
  display: block;
  clear: both;
}

/* styling for print-only, non-linked version */

a {
  color: #005;
}

.print-only {
  display: none;
}

/*  styling for hard copies; uncomment for paper versions */
/* @media print {
  .print-only {
    display: block;
  }

  .link-container {
    display: none;S
  }
} */

.page-boundary {
  margin: auto;
  width: 8.5in;
  height: 11in;
  overflow: hidden;
  background: #eee;
}

/* this is the page */
.wrapper {
  height: 9.6in;
  width: 7in;
  margin: .75in;
  overflow: hidden;
  font-family: 'Exo', sans-serif;
}

/* HEADER */

header {
  display: block;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}

header .name {
  display: block;
  float: left;
  font-size: 32px;
  font-weight: bold;
}

header ul {
  display: block;
  float: right;
  font-size: 12px;
  margin-left: 12px;
}

/* MAIN */

main {
  display: block;
}

main > section {
  display: block;
  margin-top: 15px;
}

section > h2 {
  display: block;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/* EDUCATION */

section.education > .institution {
  display: block;
  margin-bottom: 10px;
}

section.education > .institution > .name {
  display: block;
  float: left;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

section.education .institution .right-col {
  float: right;
  text-align: right;
}

section.education .institution .duration {
  font-size: 12px;
}

section.education > .institution .location {
  font-size: 12px;
}

section.education > .institution > .description {
  float: left;
  margin-left: 10px;
  padding-top: 2px;
  font-size: 14px;
  font-style: italic;
}

section.education > .institution ul > li {
  list-style: square inside;
  font-size: 12px;
}

/* WORK EXPERIENCE */

section.work > .job {
  display: block;
  margin-bottom: 10px;
}

section.work > .job:last-child {
  margin-bottom: 0;
}

section.work > .job .left-col {
  float: left;
}

section.work > .job .right-col {
  text-align: right;
  float: right;
}

section.work > .job .employer {
  float: left;
  font-size: 16px;
  font-weight: bold;
}

section.work > .job .location {
  font-size: 12px;
}

section.work > .job .description {
  float: left;
  margin-left: 10px;
  padding-top: 2px;
  font-size: 14px;
  font-style: italic;
}

section.work > .job .duration {
  font-size: 12px;
}

section.work > .job .project {
  clear: left;
  font-size: 14px;
}

section.work > .job > ul.responsibilities > li {
  clear: left;
  list-style: square;
  font-size: 12px;
  margin-left: 16px;
}

/* TECHNOLOGIES */

section.technologies .technology {
  font-size: 14px;
  display: inline;
}


section.technologies .technologies-list {
  text-align: center;
}

section.technologies .technology:not(:first-child):before {
  content: '• ';
}

/* PROJECTS */

section.projects > .project {
  display: block;
  margin-bottom: 15px;
}

section.projects > .project > .project-title {
  font-size: 16px;
  font-weight: bold;
}

section.projects > .project > .project-description {
  font-size: 12px;
}
