html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h3, p,
form, fieldset, label, input, textarea,
button, article, footer, small, figure {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  box-sizing: inherit;
  text-align: inherit;
  background: transparent;
  opacity: inherit;
  text-decoration: none;
}

.group:after {
  content: '';
  display: block;
  clear: both;
}

a{
  color: #008;
}

body{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin: auto;
  width: 8.5in;
  height: 11in;
}

wrapper{
  display: block;
  padding: 1.25in;
  padding-top: 1in;
  font-family: sans-serif;
  background: #eee;
}

/* HEADER */

header {
  display: block;
}

header {
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
}

header name {
  display: block;
  float: left;
  font-size: 36px;
  font-weight: bold;
}

header ul {
  display: block;
  float: right;
  font-size: 12px;
  margin-left: 12px;
}

/* MAIN */

main{
  display: block;
  clear: both;
}

main > section {
  display: block;
  margin-top: 10px;
}

section > h2 {
  display: block;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/* PROJECTS */

section.projects > project {
  display: block;
  margin-bottom: 15px;
  padding-left: .5in;
  padding-right: .5in;
}

section.projects > project > h3 {
  display: block;
  float: left;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

section.projects > project > a {
  display: block;
  float: right;
  font-size: 12px;
  margin-left: 15px;
}

section.projects > project > description {
  display: block;
  clear: both;
  font-size: 12px;
  margin-left: 10px;
  font-style: italic;
}

section.projects > project > .features {
  display: block;
  clear: both;
  font-size: 12px;
  margin-left: 10px;
}

section.projects > project > .features > li {
  list-style: square inside;
}

/* SKILLS */

section.skills {
  display: block;
  clear: both;
}

section.skills > ul.techs{
  position: relative;
  display: block;
  text-align: center;
  font-size: 14px;
  padding-left: .2in;
  padding-right: .2in;
}

section.skills > ul.techs > li {
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 10px;
}

/* EDUCATION */

section.education > institution {
  display: block;
  margin-bottom: 15px;
  padding-left: .5in;
  padding-right: .5in;
}

section.education > institution > name {
  display: block;
  float: left;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

section.education > institution > location {
  display: block;
  float: right;
  font-size: 12px;
}

section.education > institution > description {
  display: block;
  clear: both;
  font-size: 12px;
  margin-left: 10px;
  font-style: italic;
}

section.education > institution ul > li {
  list-style: square inside;
}

/* WORK EXPERIENCE */

section.work > job {
  display: block;
  margin-bottom: 15px;
  padding-left: .5in;
  padding-right: .5in;
}

section.work > job > company {
  display: block;
  float: left;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

section.work > job > location {
  display: block;
  float: right;
  font-size: 12px;
}

section.work > job > description {
  display: block;
  clear: both;
  font-size: 12px;
  margin-left: 10px;
  font-style: italic;
}

section.work > job > ul.responsibilities {
  display: block;
  clear: both;
  font-size: 12px;
  margin-left: 10px;
}

section.work > job > ul.responsibilities > li {
  list-style: square inside;
}
