html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, h3, p,
form, fieldset, label, input, textarea,
button, article, footer, small, figure {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  box-sizing: inherit;
  text-align: inherit;
  background: transparent;
  opacity: inherit;
  text-decoration: none;
}

.group:after {
  content: '';
  display: block;
  clear: both;
}

/* styling for print-only, non-linked version */

a {
  color: #005;
}

.print-only {
  display: none;
}

/*  styling for hard copies; uncomment for paper versions */
/* @media print {
  .print-only {
    display: block;
  }

  .link-container {
    display: none;S
  }
} */

body {
  display: block;
  margin: auto;
  width: 8.5in;
  height: 11in;
}

wrapper {
  display: block;
  padding: .5in;
  font-family: 'Exo', sans-serif;
  background: #eee;
}

/* HEADER */

header {
  display: block;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}

header name {
  display: block;
  float: left;
  font-size: 32px;
  font-weight: bold;
}

header ul {
  display: block;
  float: right;
  font-size: 12px;
  margin-left: 12px;
}

/* MAIN */

main {
  display: block;
}

main > section {
  display: block;
  margin-top: 20px;
}

section > h2 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

/* EDUCATION */

section.education > institution {
  display: block;
  margin-bottom: 15px;
  padding-left: .25in;
  padding-right: .25in;
}

section.education > institution > name {
  display: block;
  float: left;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

section.education > institution > location {
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
}

section.education > institution > description {
  display: block;
  clear: both;
  font-size: 14px;
  font-style: italic;
}

section.education > institution ul > li {
  list-style: square inside;
  font-size: 12px;
}

/* WORK EXPERIENCE */

section.work > job {
  display: block;
  margin-bottom: 15px;
  padding-left: .25in;
  padding-right: .25in;
}

section.work > job:last-child {
  margin-bottom: 0;
}

section.work > job > company {
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
}

section.work > job > location {
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
}

section.work > job > description {
  display: block;
  clear: both;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 5px;
}

section.work > job > project {
  font-size: 14px;
}

section.work > job > ul.responsibilities > li {
  list-style: square;
  font-size: 12px;
  margin-left: 16px;
}

/* PROJECTS */

section.projects > project {
  display: block;
  margin-bottom: 15px;
  padding-left: .25in;
  padding-right: .25in;
}

section.projects > project > .project-title {
  font-size: 16px;
  font-weight: bold;
}

section.projects > project > .project-description {
  font-size: 12px;
}
